<div class="verify">
    <div class="header">
        <h3 class="h1">Users</h3><span class="sp"></span>
        <button class="btn btn-danger button" ng-click="vm.">Logout</button>
    </div>
    <div class="verify-input">
        <form ng-submit="vm.getUsers()" class="verify-input">
            <input type="text" placeholder="First Name" ng-model="vm.user.firstName">
            <input type="text" placeholder="Last Name" ng-model="vm.user.lastName">
            <input type="text" placeholder="Branch" ng-model="vm.user.branch">
            <button class="btn btn-info" type="submit">Submit</button>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Branch</th>
                <th>Verify</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="u in vm.users">
                <td data-label="First Name">{{u.firstName}}</td>
                <td data-label="Last Name">{{u.lastName}}</td>
                <td data-label="Branch">{{u.branch}}</td>
                <td data-label="Verify"><button class="btn btn-danger" ng-click="vm.verify(u)">Verify</button></td>
            </tr>
        </tbody>
    </table>
</div>
